@model IEnumerable<GameStoredTwo.Models.Game.GameListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GameID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GameTitle)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GameID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GameTitle)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.GameID }) |
            @Html.ActionLink("Details", "Details", new { id=item.GameID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.GameID })
        </td>
    </tr>
}

</table>
