@model IEnumerable<GameStoredTwo.Models.Game.GameListItem>

@{
    ViewBag.Title = "Index";
}

<h2 class="bg-success">All the Games</h2>

<p>
    @Html.ActionLink("Add New Game", "Create")
</p>
<div class="container-fluid">
    <table class="table">
        <tr>
            <th class="bg-warning">
                @Html.DisplayNameFor(model => model.GameID)
            </th>
            <th class="bg-info">
                @Html.DisplayNameFor(model => model.GameTitle)
            </th>
            <th class="bg-danger">Edit Info</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GameID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GameTitle)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.GameID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.GameID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.GameID })
                </td>
            </tr>
        }

    </table>
    </div>