@model IEnumerable<GameStoredTwo.Models.Developer.DeveloperListItem>

@{
    ViewBag.Title = "Index";
}

<h2 class="bg-info">Game Developers</h2>

<p>
    @Html.ActionLink("Add New Developer", "Create")
</p>
<div class="container-fluid">
    <table class="table">
        <tr>
            <th class="bg-warning">
                @Html.DisplayNameFor(model => model.DeveloperID)
            </th>
            <th class="bg-success">
                @Html.DisplayNameFor(model => model.DeveloperName)
            </th>
            <th class="bg-danger">Edit Info</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DeveloperID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeveloperName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.DeveloperID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.DeveloperID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.DeveloperID })
                </td>
            </tr>
        }

    </table>
    </div>