@model GameStoredTwo.Models.Publisher.PublisherDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PublisherDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PublisherID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublisherID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PublisherName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublisherName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PublisherID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
